<ol class="breadcrumb mb0">
    <li>
        <a href="" ng-click="fileNavigator.goTo(-1)">
            <i class="glyphicon glyphicon-folder-open mr2"></i>
        </a>
    </li>
    <li ng-repeat="(key, dir) in fileNavigator.currentPath track by key" ng-class="{'active':$last}" class="animated fast fadeIn">
        <a href="" ng-show="!$last" ng-click="fileNavigator.goTo(key)">
            <i class="glyphicon glyphicon-folder-open mr2"></i> {{dir}}
        </a>
        <span ng-show="$last"><i class="glyphicon glyphicon-folder-open mr2"></i>  {{dir}}</span>
    </li>
    <li><button class="btn btn-primary btn-xs" ng-click="fileNavigator.upDir()">&crarr;</button></li>
</ol>
<div class="navbar-form navbar-right">
    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newfolder" ng-click="touch()">
        <i class="glyphicon glyphicon-plus"></i> {{"create_folder" | translate}}
    </button>
    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadfile" ng-click="touch()">
        <i class="glyphicon glyphicon-upload"></i> {{"upload_file" | translate}}
    </button>
    <button class="btn btn-default btn-sm" ng-if="!!rewriteFileList.length" data-toggle="modal" data-target="#rewrite" ng-click="touch()">
        <i class="glyphicon glyphicon-upload"></i> {{"rewrite_file" | translate}}
    </button>

    <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-icons.html')" ng-show="$parent.viewTemplate !== 'main-icons.html'" title="{{'icons' | translate}}">
        <i class="glyphicon glyphicon-th-large"></i>
    </button>
    <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !== 'main-table.html'" title="{{'list' | translate}}">
        <i class="glyphicon glyphicon-th-list"></i>
    </button>

</div>
<div class="clear-right"></div>
<div class="clear-left"></div>