<div ng-controller="FileManagerCtrl">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar file-tree animated slow fadeIn" ng-include="config.tplPath + '/sidebar.html'" ng-show="config.sidebar && fileNavigator.history[0]"></div>
            <div class="main" ng-class="config.sidebar && fileNavigator.history[0] && 'col-sm-9 col-md-10 view-main'">
                <div ng-include="config.tplPath + '/current-folder-breadcrumb.html'" class="main-navigator" ng-show="config.breadcrumb"></div>
                <div ng-include="config.tplPath + '/' + viewTemplate" class="main-navigation clearfix" msl-dnd-folder-input="uploadFileList"  multiple-selection-zone></div>
            </div>
        </div>
    </div>

    <div ng-include="config.tplPath + '/modals.html'"></div>
    <div ng-include="config.tplPath + '/item-context-menu.html'"></div>
</div>