
.breadcrumb {
    border-radius: 0;
}

.breadcrumb .btn {
    margin-top:-5px;
}

.btn.btn-default {
    color: #444;
    background-color: #FAFAFA;
}

.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    font-weight: 500;
    letter-spacing: .01em;
    border: none;
}

*, *:focus {
    outline: 0!important;
}

textarea.code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size:13px;
    min-height: 250px;
    resize: vertical;
    color: #000;
}

.modal .label.error-msg {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    padding: 0;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
}

.modal .label.error-msg > span {
    white-space: pre-wrap;
}

.bold {
    font-weight: bold;
}

.mb0 {
    margin-bottom: 0;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    display: none;
}

.btn-go-back {
    margin-top: -5px;
}

a:hover {
    text-decoration: none;
}

.table-modal-condensed {

}

.modal .modal-header {
    padding-bottom:0;
}

.modal .breadcrumb {
    margin-bottom: 10px;
}

.main.view-main{
    padding-top: 4em;
}
.main.view-main.msl-drag-over{
    cursor: copy;
}
.main-navigation{
    min-height: 400px;
}
.main-navigator {
    background-color: #f5f5f5;
}
.main-navigator .clear-right{
    clear: right;
}
.main-navigator .clear-left{
    clear: left;
}
.main-navigator .breadcrumb{
    float: left;
    background: none;
}
.main-navigator .navbar-form {
    margin-top: 4px;
    margin-bottom: 6px;
    margin-right: 5px;
}
.items_table{
    position: relative;
}
.items_table.msl-drag-over{
    z-index: 4;
    background-color: #F5F5F5;
    cursor: copy;
}
@media (min-width: 768px) {
    .main {
        padding-right: 0;
        padding-left: 0;
    }

    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 5px 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

@media (max-width: 768px) {
    .navbar-form .btn {
        margin-top: 5px;
    }
}

@media (max-width: 475px) {
    .table.table-files .btn {
        display: none;
    }
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #2196F3;
}

.main {
    padding: 0;
}

.main .page-header {
    margin-top: 0;
}

.file-tree ul.nav.nav-sidebar {
    margin: 0;
    padding: 0;
    padding-left: 12px;
}

.file-tree ul.nav.nav-sidebar > li {
    border-left: 1px solid #ddd;
    padding-left: 4px;
}

.file-tree ul.nav.nav-sidebar > li > a {
    padding: 2px 2px 2px 4px;
}

.file-tree ul.nav.nav-sidebar:first-child {
    padding-left: 0;
}

.file-tree ul.nav.nav-sidebar.file-tree-root > li {
    border-left: none;
    padding-left: 0px;
}
.file-item .file-item-items.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
.mr2 {
    margin-right: 2px;
}

.mr5 {
    margin-right: 5px;
}

.table td {
    vertical-align: middle;
}

#context-menu {
    position: absolute;
    display: none;
    z-index: 9999;
}

.iconset {
    padding: 10px;
}

.col-120 {
    width: 100px;
    max-height: 100px;
    float: left;
    margin-bottom: 9px;
    margin-right: 9px;
}

.col-120:last-child {
    margin-right: 0;
}

.iconset .thumbnail {
    border-radius: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding: 10px 0;
    border: none;
}

.iconset .thumbnail .item-icon {
    font-size: 32px;
}
.modal-body .modal-image{
    width: 100%;
    height: 400px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
}
.modal-fullscreen .modal-dialog,
.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
}

.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
}

.modal-fullscreen textarea.code {
    min-height: 450px;
}

.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.modal.animated,
.animated.fast {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.animated.slow {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mt10 {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

.detail-sources {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

.modal {
    word-wrap: break-word;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::-webkit-scrollbar{
    width:10px;
    height:10px;
    background-color:#fff;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar:hover{
    background-color:#eee;
}

::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-thumb:hover{
    background-color: #bbb;
}

::-webkit-scrollbar-thumb:active{
    background-color:#888;
}

.dropdown-menu.dropdown-right-click {
    display:block;
    position:static;
    margin-bottom:5px;
    font-size:1em;
}

.dropdown-menu.dropdown-right-click>li>a {
    padding: 5px 12px;
}

.dropdown-menu.dropdown-right-click>li>a>i {
    font-size: .9em;
    margin-right: 1px;
}

.dropdown-menu.dropdown-right-click .divider {
    margin: 3px 0;
}

.spinner-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 8%;
}

.spinner {
  width: 45px;
  height: 45px;
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

table th > a:hover,
table th > a:active,
table th > a:focus {
    text-decoration: none;
}
.sortorder:after {
    color: #2196f3;
    content: '\25bc';
}
.sortorder.reverse:after {
    color: #2196f3;
    content: '\25b2';
}

button.close i.fa.fa-expand{
    font-size: 18px;
    position: relative;
    top: -2px;
}

.selected {
    background-color: rgba(0,0,0,.3) !important;
}
.selecting {
    background-color: rgba(0,0,0,.2) !important;
}
.col-120.selected a{
    color: rgba(0,0,0,.3) !important;
}
.col-120.selecting a{
    color: rgba(0,0,0,.2) !important;
}
.select-helper {
    position: absolute;
    border: 1px dashed #2196f3;
    background: rgba(0,0,0,.1);
    opacity: 0.2;
}