<table class="table mb0 table-files">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="order('model.name')">
                    {{"name" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-xs">
                <a href="" ng-click="order('model.size')">
                    {{"size" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs">
                <a href="" ng-click="order('model.date')">
                    {{"date" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <!--<th class="hidden-sm hidden-xs">
                <a href="" ng-click="order('model.permissions')">
                    {{"permissions" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.permissions'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>-->
            <!--<th class="text-right"></th>-->
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="fileNavigator.requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
            <td colspan="5">
                {{"no_files_in_folder" | translate}}...
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <tr ng-repeat="item in fileNavigator.fileList | filter: query | orderBy:predicate:reverse"
            msl-dnd-target="moveHandler"
            msl-dnd-folder-input="uploadFileList"
            msl-dnd-folder-input-path="{{item.model.type}}"
            ng-right-click="touch(item)"
            ng-mousedown="touch(item)"
            multiple-selection-item="item"
            ng-class="{'selecting': isSelecting ,'selected': isSelected}"
            class="items_table">
            <td>
                <a href="" ng-click="smartClick(item)" title="{{item.model.name}} ({{item.model.sizeKb()}}kb)" target="_self" draggable="false">
                    <i class="glyphicon glyphicon-folder-close" ng-show="item.model.type === 'dir'"></i>
                    <i class="glyphicon glyphicon-file" ng-show="item.model.type === 'file'"></i>
                    <i class="fa fa-file-image-o" ng-show="item.model.type === 'image'"></i>
                    <i class="fa fa-file-pdf-o" ng-show="item.model.type === 'pdf'"></i>
                    <i class="fa fa-file-text" ng-show="item.model.type === 'text'"></i>
                    {{item.model.name | strLimit : 64}}
                </a>
            </td>
            <td  class="hidden-xs">
                <span ng-if="item.model.type !='dir'">{{item.model.sizeKb()}}kb</span>
            </td>
            <td class="hidden-sm hidden-xs">
                {{item.model.updated_at | formatDate }}
            </td>
            <!--<td class="hidden-sm hidden-xs">
                {{item.model.perms.toCode(item.model.type === 'dir'?'d':'-')}}
            </td>-->
            <!--<td class="text-right">
                <div ng-include="config.tplPath + '/item-toolbar.html'"></div>
            </td>-->
        </tr>
    </tbody>
</table>