<div class="iconset clearfix" dnd-list="list">
    <div class="col-120" ng-repeat="item in fileNavigator.fileList | filter: query | orderBy: orderProp"
         msl-dnd-target="moveHandler"
         msl-dnd-folder-input="uploadFileList"
         msl-dnd-folder-input-path="{{item.model.type}}"
         ng-right-click="touch(item)"
         ng-mousedown="touch(item)"
         multiple-selection-item="item"
         ng-class="{'selecting': isSelecting ,'selected': isSelected}"
         ng-click="smartClick(item)"
         ng-show="!fileNavigator.requesting && !fileNavigator.error">
        <a class="thumbnail text-center"  title="{{item.model.name}} ({{item.model.sizeKb()}}kb)"  draggable="false">
            <div class="item-icon">
                <i class="glyphicon glyphicon-folder-open" ng-show="item.model.type === 'dir'"></i>
                <i class="glyphicon glyphicon-file" ng-show="item.model.type === 'file'"></i>
                <i class="fa fa-file-image-o" ng-show="item.model.type === 'image'"></i>
                <i class="fa fa-file-pdf-o" ng-show="item.model.type === 'pdf'"></i>
                <i class="fa fa-file-text" ng-show="item.model.type === 'text'"></i>
            </div>
            {{item.model.name | strLimit : 11 }}
        </a>
    </div>

    <div ng-show="fileNavigator.requesting">
        <div ng-include="config.tplPath + '/spinner.html'"></div>
    </div>

    <div class="alert alert-warning" ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
        {{"no_files_in_folder" | translate}}...
    </div>
    
    <div class="alert alert-danger" ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>