<table class="table mb0 table-files">
    <thead>
        <tr>
            <th>
                <a href="">
                    {{"name" | translate}}
                </a>
            </th>
            <th>
                <a href="">
                    {{"old_path" | translate}}
                </a>
            </th>
            <th>
                <a href="">
                    {{"new_path" | translate}}
                </a>
            </th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-repeat="item in movedFileList"  class="items_table" ng-if="item.rewrite == true">
            <td>
                <a href="" title="{{item.name}})">
                    <i class="glyphicon glyphicon-file"></i>
                    {{item.name | strLimit : 64}}
                </a>
            </td>
            <td>
                <a href="">
                    {{item.path | strLimit : 64}}
                </a>
            </td>
            <td>
                <a href="">
                    {{item.new_path | strLimit : 64}}
                </a>
            </td>
            <td class="text-right">
                <div>
                    <button class="btn btn-sm btn-danger" ng-click="removeMovedFile(item)" title="{{'remove' | translate}}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>